.idea
*.pyc
_site
*.swp
__pycache__
.DS_Store
.ipynb_checkpoints
tools-pdf-deskew/*.pdf

*.o
*.lprof

.mypy_cache
.ruff_cache
.vscode

algorithm-data-compression/data

# dl-nn-in-many-languages
dl-nn-in-many-languages/rust/target
dl-nn-in-many-languages/rust/*.lock
